body{
margin:0;
background:black;
color:white;
font-family:Arial;
overflow:hidden;
}

canvas{
position:absolute;
top:0;
left:0;
width:100vw;
height:100vh;
display:none;
}

#menu,#gameOver{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
background:rgba(0,0,0,0.8);
padding:40px;
border-radius:10px;
border:2px solid cyan;
}

button{
padding:15px 35px;
font-size:18px;
border:none;
border-radius:5px;
background:cyan;
cursor:pointer;
}

#hud{
position:absolute;
top:15px;
left:20px;
font-size:20px;
display:none;
}
